.profile {
    /*max-width: 600px;*/
    margin: 0 auto;
    padding: 20px;
    background-color: #caae8d;
    font-family: Arial, sans-serif;
  }
  
  .profile header {
    display: flex;
    align-items: center;
  }
  
  .profile header h1 {
    font-size: 36px;
    margin-right: 20px;
  }
  
  .profile header p {
    font-size: 18px;
    color: #888;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
  }
  
  .profile .bio h2,
  .profile .social h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile .bio p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .profile .social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .profile .social li {
    margin: 0 10px;
  }
  
  .profile .social li a {
    color: #888;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
  }
  
  .profile .social li a:hover {
    color: #4078c0;
  }
  
  
.profile-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #FFFFFF; 
  border-radius: 10px; 
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  background-image: url('../../pages/LoginPage/download.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  backdrop-filter: blur(5px);
}
.profile-label {
  font-weight: bold; 
  margin-bottom: 10px; 
  text-shadow: 2px 2px black;
  color: #faf8fc;
  font-size: 24px; 
}
.profile-input[type="text"],
.profile-input[type="password"] {
  border: none;
  border-radius: 5px; 
  padding: 4px;
  margin-bottom: 20px;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background-image: url('download.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  backdrop-filter: blur(5px);*/
}
.profile-input[type="button"] {
  background-color: #4CAF50;
  color: white;
  padding: 4px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.profile-input[type="button"]:hover {
  background-color: #3e8e41;
}
.remove-book-button {
  background-color: #379555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.delete-user-button {
  background-color: #379555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}